<h1>Listing applications</h1>

<table>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Twitter</th>
    <th>Job Title</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>

    <% @applications.each do |application| %>
    <tr>
    <td><%= application.name %></td>
    <td><%= application.email %></td>
    <td><%= application.twitter %></td>
    <td><%= application.job_title %></td>
    <td><%= application.age %></td>
    <td><%= link_to 'Show', application, :class => "button radius success" %></td>
    <td><%= link_to 'Edit', edit_application_path(application), :class => "button radius secondary" %></td>
    <td><%= button_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button radius" %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Application', new_application_path %>
