<div class="row panel">
  <div class="large-10 offset-large-5 columns">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @speaker.name %>
	</p>

	<p>
	  <b>Bio:</b>
	  <%= @speaker.bio %>
	</p>

	<p>
	  <b>Link:</b>
	  <%= @speaker.link %>
	</p>


	<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
	<%= link_to 'Back', speakers_path %>
	</div>
</div>

