<!DOCTYPE html>
<html>
<head>
    <title>TEDx Rosslyn</title>

    <!-- // Site Info
    ====================================

    Version:    0.0.0

    Launch:     Jan 17, 2012
    Updated:    Jan 19, 2012

    ====================================
    // -->

    <!-- Primary Metadata  -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="Nicholas A. Kingston">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">
    <meta name="google-site-verification" content="" />
    <meta name="robots" content="noindex, nofollow">

    <!-- Social Metadata  -->
    <meta property="fb:admins" content="" />
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:image" content="" />

    <!-- Robots & Favicons  -->
    <link rel="icon" type="image/png" href="">
    <link rel="shortcut icon" type="image/png" href="" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- IE Fixes  -->
    <!--[if IE]><meta content="IE=8" http-equiv="X-UA-Compatible"/><![endif]-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif] -->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <!-- Analytics only on production -->
   <%= analytics_init if Rails.env.production? %>


  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "/home/apply_form" if @home %>
    <div id="location">
        <div id="map_canvas"></div>
        <a href="javascript:void(0);" class="location-toggle closer">x</a>
        <div id="address">
            <div class="row">
                <%= link_to "https://plus.google.com/111078498157976610022/about?gl=us&hl=en", :target => '_blank' do %>
                <div class="large-12 columns">
                    <h6>Top of the Town Conference Center</h6>
                    <h6 class="subheader">1400 14th St N, Arlington, VA, 22209</h6>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <header>

        <!-- TEDx Rosslyn Logo and link to homepage -->
        <%= link_to image_tag("logo.png", :size => "240x65"), root_path %>
        <div id="mainlinks">
            <a href="#location" class="location-toggle on button radius map">Location</a>
           <% if @home %> <a href="http://tedxrosslyn.eventbrite.com/" class="button radius" target="_blank">Apply</a> <% end %>
        </div>
    </header>
    <% if flash[:application_success] %>
        <div id="application_success" class="alert-box success" style="text-align:center;">Thank you! Application Successfully Recieved! </div>
    <% end %> 

    <% if content_for?(:main) %>
        <%= yield(:main) %>
    <% else %>
        <%= yield %>
    <% end %>

    <footer>
        <div class="row">
            <div class="large-6 columns">
                <div class="icon"><%= link_to image_tag("fb.png", :size => "45x45"), "https://www.facebook.com/TedxRosslyn", :target => "_blank" %></div>
                <div class="icon"><%= link_to image_tag("tw.png", :size => "45x45"), "https://twitter.com/TEDxRosslyn", :target => "_blank" %></div>
            </div>
            <div class="large-6 columns">
                <br /><br />
                <p class="text-center">Copyright &copy; <a href="http://schaffters.com" target="_blank"> Scott Schaffter </a> &amp; <a href="http://nickingston.com" target="_blank">Nicholas Kingston</a> </p>
            </div>
        </div>
        </div>
    </footer>

  <!-- JS -->
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?&sensor=false" %>
    <%= javascript_include_tag "maps" %>
    <%= javascript_include_tag "jquery_slides" %>
    <%= javascript_include_tag "scripts" %>
    <%= javascript_include_tag "rails.validations" %>
</body>
</html>
